$theme-colors: (
  // "primary": #61d2b4,
  "primary": #17a2b8,
  //   "secondary": #833bec,
  //   "success": #1ce1ac,
  //   "info": #ff7d50,
  //   "warning": #ffbe0b,
  //   "danger": #ff007f,
  //   "light": #c0ccda,
  //   "dark": #001738,,,,,,,
);

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
}
.tr-bg {
  background-color: transparent !important;
}
// @import "~/node_modules/bootstrap/scss/bootstrap.scss";

// Include Bootstrap and BootstrapVue SCSS files
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
